
<div  [routerLink]="['/empleado',empleado._id]"  class="detailEmpleado card mb-3">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">{{empleado.nombre }} {{empleado.apellidos}}</h4>
                <p class="card-text"><small class="text-muted">{{empleado.email}} // {{empleado.telefono}}</small></p>
                <p class="card-text">{{empleado.rol}}</p>
                <div>
                    <img  class="img-logo" src="../../../assets/img/batman.png" width="300px" alt="Marvel">
                </div>
                <button class="btn btn-primary bg-dark" (click)="subeImagen()">Subir</button>
            </div>
        </div>
    </div>
</div>