
<div class="cuerpoTarj card animated fadeIn fast">
    <div class=" card-body">
        <h4 class="card-title">{{ tarea.nombre }}</h4>
        
        <input id="inputFecha" class="inputs input100"
            disabled
            type="datetime-local" 
            name="fechainicio" 
            [(ngModel)]="fechaIni"
            style="padding: 0px;">
        <p class="cuadroTxt card-text">
            <small class=" text-muted">{{ tarea.descripcion }}</small>
        </p>
        <a  [routerLink]="['/tarea',tarea._id]" class="botonTarea btn btn-primary bg-dark">Ver mas...</a>
    </div>
</div>