
.card-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    margin: 0;
}
.cuadroTxt{
    height: 100px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
.text-muted{
    margin: 0 0 10px 0;
}