<div class="modalc">
    <div class="modalc-content">  
        <div class="modalc-container animated fadeInDown">

            <button class="botonCerrar " (click)="emiteCierraVentana()">X</button>
            <div class="limiter " >
                <div class="container-login100" style="min-height: auto; padding: 0;">
                    <div class="wrap-login100 p-t-50 p-b-90" style="padding: 40px 0 60px;">
                        <form #registroForm="ngForm"
                            (ngSubmit)="onSubmit(registroForm)"
                            class="login100-form validate-form flex-sb flex-w">
            
                            <span class="login100-form-title p-b-51">
                                {{titulo}}
                            </span>
                            
                            <span *ngIf="registroForm.submitted && registroForm.controls['nombre'].errors"
                                class="text-danger animated fadeIn">El nombre es obligatorio</span>
                            <div class="wrap-input100 m-b-16">
                                <input class="input100" 
                                    type="text" 
                                    name="nombre" 
                                    [(ngModel)]="tarea!.nombre"
                                    required
                                    placeholder="Nombre">
            
                                <span class="focus-input100"></span>
                            </div>
            
                            <span *ngIf="registroForm.submitted && registroForm.controls['descripcion'].errors"
                                class="text-danger animated fadeIn">La descripción es obligatoria</span>
                            <div class="wrap-input100 m-b-16">
                                <textarea class="input100" 
                                        name="descripcion" 
                                        required
                                        [(ngModel)]="tarea!.descripcion"
                                        placeholder="Descripcion"
                                        style="padding: 15px 15px 15px 30px; min-height: 128px; max-height: 500px; ">
            
                                <span class="focus-input100"></span>
                            </div>
                            <div class="input-group">
                                <textarea class="form-control" aria-label="With textarea"></textarea>
                            </div>
            
                        
            
                            <!-- <span class="text-danger">El correo es obligatorio</span> -->
                            <span *ngIf="registroForm.submitted && tarea!.numeroTrabajadores < 1"
                                class="text-danger animated fadeIn">Hace falta algún trabajador</span>
                            <div class="inputComp wrap-input100 m-b-16">
                                
                                <label for="inputNum" class="labels input100">
                                    Trabajadores
                                </label>
                                <input id="inputNum" class="inputs input100"
                                style="padding: 0;"
                                type="number" 
                                name="numtrabaj" 
                                [(ngModel)]="tarea!.numeroTrabajadores"
                                required>
            
                                <span class="focus-input100"></span>
                            </div>  
                            
                            <!-- <span class="text-danger">La contraseña debe de ser más de 6 letras</span> -->
                            <span *ngIf="registroForm.submitted && registroForm.controls['fechainicio'].errors"
                                class="text-danger animated fadeIn">La fecha de inicio es obligatoria</span>
                            <div class="inputComp wrap-input100 m-b-16">
                                
                                <label for="inputFecha" class="labels input100">
                                    Inicio
                                </label>
                                <input id="inputFecha" class="inputs input100"
                                    type="datetime-local" 
                                    name="fechainicio" 
                                    [(ngModel)]="tarea!.fechainicio"
                                    required
                                    style="padding: 0px;">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="inputComp wrap-input100 m-b-16">
                                <label for="inputFin" class="labels input100">
                                    Fin
                                </label>
                                <input id="inputFin" class="inputs input100"
                                    type="datetime-local" 
                                    name="fechafin" 
                                    [(ngModel)]="tarea!.fechafin"
                                    required
                                    style="padding: 0px;">
                                <span class="focus-input100"></span>
                            </div>
                                    
                            <span *ngIf="registroForm.submitted && tarea!.importancia == ''"
                                class="text-danger animated fadeIn">Debe indicar el grado de prioridad de esta tarea</span>
                            <div class="inputComp wrap-input100 m-b-16">
                                <label for="inputimp2" class="labels input100">
                                    Importancia
                                </label>
                            
                                <select [(ngModel)]="tarea!.importancia" 
                                    id="inputimp" class="inputs form-select" name="inputgrupo">
                                    <option *ngIf="imps.length > 1" selected>-</option>
                                    <option *ngFor="let imp of imps;">{{ imp }}</option>
                                </select>
                            </div>

                            <span *ngIf="registroForm.submitted && tarea!.importancia == '-'"
                                class="text-danger animated fadeIn">Debe indicar a qué grupo pertenece esta tarea</span>
                            <div class="inputComp wrap-input100 m-b-16" #organizacion id="organizacion" >
                                <label for="inputimp2" class="labels input100">
                                    Organización
                                </label>
                            
                                <select [(ngModel)]="idSuper"
                                    id="inputimp" class="idSuperElement inputs form-select" name="inputgrupo">
                                    <option *ngIf="supers.length > 1">-</option>
                                    <option *ngFor="let super of supers; let i = index;">
                                        <!--<span class="idOculto">id: {{super._id}} - </span>-->
                                        {{ super.nombre }}
                                    </option>
                                </select>
                            </div>

                            <span *ngIf="registroForm.submitted && tarea!.departamento == '-'"
                                class="text-danger animated fadeIn">Debe indicar a qué departamento pertenece esta tarea</span>
                            <!--<div class="inputComp wrap-input100 m-b-16">
                                <label for="inputimp3" class="labels input100">
                                    Departamento
                                </label>
                            
                                <select [(ngModel)]="tarea!.departamento" 
                                    id="inputimp" class="inputs form-select" name="inputgrupo">
                                    <option selected>-</option>
                                    <option *ngFor="let departamento of departamentos; let i = index;">{{ departamento.nombre }}</option>
                                </select>
                            </div>-->
                            <div class="inputComp wrap-input100 m-b-16">
                                <label for="inputimp2" class="labels input100">
                                    Departamento
                                </label>
                            
                                <select [(ngModel)]="tarea!.departamento"
                                    id="inputimp" class="inputs form-select" name="inputdepart">
                                    <option *ngIf="departamentos.length > 1" selected>-</option>
                                    <option *ngFor="let departamento of departamentos;">
                                        {{ departamento.nombre }}
                                    </option>
                                </select>
                            </div>

                            <div class="container-login100-form-btn m-t-17">
                                <button class="login100-form-btn" type="submit">
                                    {{textBtn}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
