.card{
    margin-bottom: 10px;
}
.detalles{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.coment{
    padding-left: 10px;
}
.fecha{
    text-align: end;
}
.formCont{
    margin-top: 10px;
}
.formulario{
    display: flex;
    flex-direction: row;
}
.cuadroTxt{
    margin-left: 10px;
}
.txtarea{
    height: 300px;
}