<app-menu-mapa></app-menu-mapa>
<div #mapa_props class="mapaProps"></div>

<div class="col-2"></div>

<div class="col">
    <div class="row">
        <div class="col-4 mb-2"
            *ngFor="let ubi of ubis">
            
            <div class="card">
                <app-mini-mapa [lngLat]="[ubi.longitud, ubi.latitud]" class="card-img-top"></app-mini-mapa>
                <div class="card-body">
                    <h5 class="card-body">{{ubi.titulo}}</h5>
                    <p class="card-text">{{ubi.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>