<div>
    <div class="card-body">
        <h3 class="card-title" [routerLink]="['/tarea',tareaId]" style="cursor: pointer;">{{ tareaTit }}</h3>
        <h4 >{{nombreEmp}}</h4>
            <span class="fecham">{{solicitud!.fechaSolicitud | date: 'dd/MM/yyyy hh:mm' }}</span>
        <div [ngClass]="solicitud.aprobada ? 'resSi' : 'resNo'"></div>
        <div class="btns">
            <button *ngIf='visible'  >
                <a class="btn btn-outline-success" (click)="aprobarSolicitud()" >{{botonAprobar}}</a>
            </button>
            <button>
                <a class="btn btn-outline-danger" (click)="eliminaSolicitud()">{{botonRechazar}}</a>
            </button>
        </div>
    </div>
</div>