.contPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tareasEmpleado{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.titParadas{
  margin-left: 80px;
}
.aviso{
  margin-left: 100px;
}