
<div class="container">
  <h1 class="container">{{titulo}} </h1>
  <h2 class="container"> 
    <small class="text-muted">{{posttitulo}}</small>
  </h2>
  <button type="button" class="btn btn-primary" (click)="abreVentana()">Nueva tarea</button>
</div>
<hr>
<div class="container card-columns">
  <div class="row animated fadeIn fast"  *ngIf="tareas.length < 1">
      <div class="alert alert-info" role="alert">
        No existen resultados con el término {{posttitulo}}
      </div>
  </div>
  <app-tarea-card 
    [tarea]="tarea" [index]="i" *ngFor="let tarea of tareas; let i = index;">
  </app-tarea-card>  
</div>
<div>
  <app-tarea-form *ngIf='showP' [imps]="imps" [supers]="supers" 
  [departamentos]="departamentos" (eventoEmite)='receiveMessage($event)'>
  </app-tarea-form>
</div>
