<img *ngIf='muestraBotonMenu' class="botonMenu fadeOutRight" src="../../../../assets/images/icons/barra-de-menus.png" (click)="muestraOcultaMenu()">
<ul class="list-group animated fadeInLeft" *ngIf='muestraMenu'>
    <li class="list-group-item" (click)="muestraOcultaBarraBusca()">Buscar</li>
    <li class="list-group-item" (click)="muestraOcultaMenuEstilos()">Estilo mapa</li>

    <li *ngFor="let item of menuItems" [routerLink]="[item.ruta]" 
        class="list-group-item" routerLinkActive="active">
        {{ item.nombre }}
    </li>
    <li class="list-group-item" (click)="sendVerTransportes()">{{paradaCadena}}</li>
    <li class="list-group-item" (click)="muestraFormVehi()">Añade transporte</li>
    <li class="list-group-item" (click)="activaNuevaUbi()">{{nuevaUbiCadena}}</li>
    
    <li class="list-group-item" (click)="reiniciaMapa()">Reinicia</li>
    <li class="list-group-item" (click)="muestraOcultaMenu()">Atrás</li>
</ul>
<ul class="list-group animated fadeInLeft" *ngIf='muestraMenuEstilos'>
    <li *ngFor="let estilo of estilosMapa" 
        class="list-group-item" 
        (click)="sendEstiloMapa(estilo.url)"
        [class.selected]="estilo.url === estiloSelect">
        {{ estilo.nombre }}
    </li>
    <li class="list-group-item" (click)="muestraOcultaMenuEstilos()">Atrás</li>
</ul>
<div *ngIf='muestraBarraBusca'>
    <div  class="barraBuscaComp animated fadeInLeft">
        <img class="botonMenuAtras"
            src="../../../../assets/images/icons/atras.png" 
            (click)="muestraOcultaBarraBusca()">
        <input 
              class="form-control barraBusca" 
              #txtBuscarUbi 
              (keyup.enter)="buscaUbicacion( txtBuscarUbi.value )"
              type="search" 
              placeholder="Buscar ubicación" 
              aria-label="Search"
              [(ngModel)]="inputSearchValue"/>
        <img (click)="buscaUbicacion(txtBuscarUbi.value)" 
            class="botonMenuBusca" 
            src="../../../../assets/images/icons/lupa.png">
    </div>
    
    <ul class="list-group3 animated fadeInLeft" id="listaMedios">
        <li *ngFor="let medio of mediosMapa" 
            class="list-group-item" 
            (click)="sendMedioTransporteMapa(medio.clave)"
            [class.selected]="medio.clave === medioSelect">
            {{ medio.nombre }}
        </li>
    </ul>

    <ul class="list-group2 animated fadeInDown"
        *ngIf='resMapBox.features.length > 0'>
        <li class="list-group-item listaBuscador"
            *ngFor="let feature of resMapBox.features"
            (click)="clickOcurrenciaUbi(feature)">
            <div class="lineaBusca1">{{ feature.text }}</div>
            <div class="lineaBusca2">{{ feature.place_name }}</div>
        </li>
    </ul>
    <ul class="list-group2 animated fadeInLeft" *ngIf='resMapBox.features.length == 0 && resMapBox.query.length > 0'>
        <li class="list-group-item">
            Ubicación no encontrada
        </li>
    </ul>
</div>

<div class="direcciones fadeOutRight" *ngIf="indicaciones.steps.length > 0">
    <ul class="animated fadeInDown">
        <li class="list-group-item"
            *ngFor="let step of indicaciones.steps">
            <div class="lineaBusca1">{{ step.maneuver.instruction }}</div>
            <div class="lineaBusca2">{{ step.distance }} > {{ step.name || "Vía sin nombre" }}</div>
        </li>
    </ul>
</div>
<!--
<button class="botonBorraRuta"
    *ngIf='indicaciones.steps.length > 0'
    (click)="ocultaIndicaciones()">
    <img class="imgBorraRuta" src="../../../../assets/images/icons/borra_ruta.png">
</button>
-->