.list-group{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    margin: 10px 0 0 10px;
}
li {
    cursor: pointer;
}
.botonMenu{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 99;
    background-color: white;
    cursor: pointer;
    border-radius: 6px;
    margin: 10px 0 0 10px;
}