.cuadroTxt {
    padding: 15px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    height: 55px;
    padding: 10px 0px 10px 0px;
}
.cuadroTxt{
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
}