<!--<ul class="list-group">
    <li class="list-group-item list-group-item-info"
        (click)="agregarMarcador()">
        + Agregar
    </li>
    <li class="list-group-item"
        *ngFor="let marca of marcadores; let i = index;"
        [ngStyle]="{
            'background-color':marca.getElement().getElementsByTagName('path')[0].getAttribute('fill')
        }"
        (click)="clickMarcador(marca.getLngLat())">
        Marker {{i + 1}}
    </li>
</ul>-->
<div #mapa id="mapa">
    <app-mapa-menu 
        [indicaciones]="indicaciones"
        [inputSearchValue]="nombrePuntoPartida"
        (eventoEmiteFormVehi)='sendMessageFormVehi($event)'
        (eventoEmiteBuscaUbi)='receiveMessageBuscaUbi($event)' 
        (eventoEmiteCambiaEstiloMapa)="receiveMessageCambiaEstiloMapa($event)"
        (eventoEmiteMedioTransporteMapa)="receiveMessageMedioTransporteMapa($event)"
        (eventoEmiteReiniciaMapa)="receiveReiniciaMapa($event)"
        (eventoEmiteVerTransportes)="receiveVerTransportes($event)"
        (eventoEmiteFormUbi)="receiveNuevaUbi($event)">
    </app-mapa-menu>
</div> 