.subs{
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}
.subtarea{
    min-width: 400px;
    width: 400px;
    margin: 0 10px 0 0;
    height: 300px;
}





.card{
    margin-bottom: 10px;
}
.detalles{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.coment{
    padding: 0 20px;
}
.fecha{
    text-align: end;
}