<div class="container">
  <h1 class="container">{{titulo}} </h1>
  <h2 class="container"> 
    <small class="text-muted">{{posttitulo}}</small>
  </h2>
  <div *ngIf="visible">
    <button type="button" class="btn btn-primary" (click)="abreVentana()">Nuevo empleado</button>
    <button (click)="cambiaPaginaEmpleado(-1)"><img #botonIzq class="btnIzqNav" src="../../../assets/images/icons/arrow-circle.png" alt=""></button>
    <button (click)="cambiaPaginaEmpleado(1)"><img #botonDer class="btnDerNav" src="../../../assets/images/icons/arrow-circle.png" alt=""></button>
  </div>

</div>
<hr>
<div class="container">
  <ng-template #emps
   class="animated fadeIn fast">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        No existen resultados con el término {{posttitulo}}
      </div>
    </div>
  </ng-template>
  <div *ngIf="empleados.length > 0; else emps">
    <app-empleado-card class="" [empleado]="empleado" [index]="i" 
      *ngFor="let empleado of empleados; let i = index;">
    </app-empleado-card>  
  </div>
</div>
<div>
  <app-registro *ngIf="showP" [roles]="roles" (eventoEmiteCierraNuevaPersona)='receiveMessage($event)'></app-registro>
</div>