
.card{
    margin-bottom: 10px;
    
}
.cab{
    background-color: #827ffe;
    height: 10px;
    border-radius: 3px 3px 0px 0px;
}
.detalles{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.coment{
    padding-left: 10px;
}
.fondo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fecha{
    padding-left: 10px;
}
.borraComBtn{
    margin: 0px 10px 0px 0px;
}
.titulo{
    font-weight: bold;
}