<div class="container">
  <h1 class="container">{{titulo}} </h1>
  <h2 class="container"> 
    <small class="text-muted">{{posttitulo}}</small>
  </h2>
</div>
<hr>
<div *ngIf="solicitudes.length > 0 else sinSolis" class="container card-columns">
  <app-solicitud-card class="card container animated fadeIn fast"  style="width: 18rem; margin:20px;" 
    [solicitud]="solicitud" [index]="i" *ngFor="let solicitud of solicitudes; let i = index;">
  </app-solicitud-card>  
</div>
<ng-template #sinSolis class="row animated fadeIn fast" >
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el término {{titulo}}
    </div>
  </div>
</ng-template>
