
<div class="contenedor  card animated fadeInDown" >

    <div class="cuerpoTarj card" >
    
        <!--<img [src]="heroe.img" class="card-img-top" [alt]="heroe.img">-->
        <div class="card-body detalles">
            <div class="topTarea">
                <div>
                    <h3 class="card-title">{{ tarea.nombre }}</h3>
                    <input id="inputFecha" class="inputs input100"
                        disabled
                        type="datetime-local" 
                        name="fechainicio" 
                        [(ngModel)]="tarea!.fechainicio"
                        style="padding: 0px;">
                </div>
                <div>
                    <h4 class="infoPlantilla">Plantilla: {{ empleados.length }} / {{ tarea.numeroTrabajadores }}</h4>
                </div>
            </div>
            <p class="cuadroTxt card"><small class=" text-muted">{{ tarea.descripcion }}</small></p>
                
            <!-- linkear botones registrando la ruta en routes -->
            <button (click)="abreFormTarea(true)" >
                <a class="btn btn-outline-secondary" >Editar</a>
            </button>
            <button (click)="abreFormTarea(false)" >
                <a class="btn btn-outline-info" >Nueva subtarea</a>
            </button>
            <button (click)="borraTarea()" >
                <a class="btn btn-outline-warning">Borrar</a>
            </button>

        </div>
        
        <div class="empleados">
            <app-empleado-linea class="card " [routerLink]="['/empleado',empleado._id]"
                [emp]="empleado" [index]="i" *ngFor="let empleado of empleados; let i = index;">
            </app-empleado-linea>
            <button class="card btnNuevoEmp" (click)="muestraEmpleadosDisponibles()">
                Nuevo empleado
            </button>
        </div>
    </div>

    <app-subtarea class="subtareas"></app-subtarea>
    <app-comentarios  class="comentarios"></app-comentarios>
    
    <app-mapa class="mapa" 
        (eventoEmiteFormVehi)='receiveMessageFormVehi($event)'
        (eventoEmiteUbi)="receiveMessageFormUbi($event)">
    </app-mapa>
</div>

<div>
    <app-tarea-form *ngIf='showP1' [imps]="imps" [departamentos]="departamentos" [flag]="flag" 
        (eventoEmiteCierraFormTarea)='receiveMessageFormTarea($event)'></app-tarea-form>
</div>
<div>
    <app-transportes-form *ngIf='showP2' (eventoEmiteCierraFormVehi)='receiveMessageFormVehi($event)'></app-transportes-form>
</div>
<div>
    <app-ubicacion-form *ngIf='showP3' [ubicacion]="ubi"></app-ubicacion-form>
</div>

<div class="modalcEmp" *ngIf='showPEmpD'>
    <div class="modalcEmp-content">
        
        <div class="modalcEmp-content animated fadeInDown">
            <div class="modalcEmp-container">
                <button class="botonCerrar " (click)="emiteCierraVentana()">X</button>
                <div class="empleadosDisp ">
                    <app-empleado-linea class="card " (click)="agregaTrabajadorATarea(empleado._id)"
                        [emp]="empleado" [index]="i" *ngFor="let empleado of empleadosDisp; let i = index;">
                    </app-empleado-linea>
                </div>
            </div>
        </div>

    </div>
</div>
