<style>
    .contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-height: 1200px;
        padding: 200px;
    }
    .cuerpoTarj{
        padding: 0px;
        margin: 20px;
        width: 420px;
    }
    .cuadroTxt{
        height: 250px;
    }
</style>
<div class="contenedor  card animated fadeInDown">
    <div class="cuerpoTarj card" >
        
        <!--<img [src]="heroe.img" class="card-img-top" [alt]="heroe.img">-->
        <div class="card-body">
            <h4 class="card-title">{{ tarea.nombre }}</h4>
            <h5 class="card-text">{{ tarea.fechainicio }}</h5>
            <p class="cuadroTxt card-text"><small class=" text-muted">{{ tarea.descripcion }}</small></p>
                
            <!-- linkear botones registrando la ruta en routes -->
            <a  [routerLink]="['/tarea',tarea._id]" class="btn btn-primary bg-dark">Ver mas...</a>

            <!-- linkear botones por método en el controlador del componente -->
            <!-- <button (click)="verHeroe(i)" type="button" [routerLink]="['/heroe',i]" class="btn btn-primary bg-dark">Ver mas...</button> -->
        </div>
    </div>
    <div class="cuerpoTarj card container">
        <app-empleado-card class="card container animated fadeIn fast"  style="width: 18rem; margin:20px;" 
            [empleado]="empleado" *ngFor="let empleado of empleados; let i = index;">
        </app-empleado-card>
    </div>
</div>

